.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: $ui-index-3;
	width: 100%;
	max-width: 100%;
	min-height: 230px;

	overflow: hidden;
	background: url(assets/images/header-bg.jpg) no-repeat 50% 0 / auto;

	@include md {
		min-height: auto;
	}

	@include sm {
		z-index: $ui-index-4;
		background: #fff;
		box-shadow: 0 0 15px 0 rgba(#000, 0.15);
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#fafafa, 0.9);
		content: "";

		@include sm {
			display: none;
		}
	}

	&::after {
		@include md {
			position: absolute;
			top: 0;
			left: 0.75rem;
			width: calc(100% - 1.5rem);
			height: 2px;
			content: "";
			@include ui-gradient(90deg);
		}

		@include sm {
			display: none;
		}
	}

	&--front {
		background: none;
	}

	&.scroll {
		position: fixed;
		z-index: $ui-index-5;
		min-height: auto;
		background: url(assets/images/header-bg.jpg) no-repeat 50% 0 / auto;
		box-shadow: 0 0 15px 0 rgba(#000, 0.15);
		animation: headerShow 0.3s ease;

		@include sm {
			background: #fff;
		}

		.side-line {
			display: none;
		}

		.header__panel {
			display: none;
		}

		.header__info {
			padding-bottom: 25px;

			@include xs {
				padding-bottom: 0;
			}
		}

		.header__burger {
			display: flex;

			&--outside {
				display: none;
			}
		}

		.header__link {
			margin-left: 60px;

			@include md {
				margin-left: 0;
			}
		}

		.header__desc {
			display: none;
		}
	}

	.side-line {
		background: none;

		&::before {
			opacity: 1;
		}
	}

	&__panel {
		position: relative;
		display: flex;
		gap: 40px;
		align-items: center;
		border-bottom: 1px solid rgba(#afadad, 0.3);

		@include md {
			display: none;
		}

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 2px;
			content: "";
			@include ui-gradient(90deg);

			@include md {
				display: none;
			}
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		.menu-item {

			a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 35px 0;
				color: #3e3e3e;
				font-weight: 500;
				font-size: 18px;
				line-height: 1.1;
				text-transform: uppercase;
				text-decoration: none;
				transition: $transition;

				&:hover {
					color: $primary;
				}

				&:active {
					opacity: 0.8;
				}
			}
		}

		.current-menu-item {

			a {
				color: $primary;
				cursor: default;

				&:active {
					opacity: 1;
				}
			}
		}
	}

	&__search-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 45px;
		background-color: #d9d9d9;

		border: none;
		border-radius: 50%;
		transition: $transition;

		&:hover {
			background-color: darken(#d9d9d9, 10);

			svg {
				color: $primary;
			}
		}

		&:active {
			opacity: 0.8;
		}

		svg {
			color: #595959;
			transition: $transition;
		}
	}

	&__info {
		position: relative;
		display: flex;
		align-items: center;
		margin-top: 25px;

		@include md {
			padding-bottom: 25px;
		}

		@include xs {
			margin-top: 0;
			padding-bottom: 0;
		}
	}

	&__burger {
		display: none;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		overflow: hidden;
		border: none;
		border-radius: 10px;
		@include ui-gradient(90deg);

		@include to(1550px) {
			display: flex;
		}

		@include xs {
			width: 80px;
			height: 90px;
			margin-left: -0.75rem;
			border-radius: 0;
		}

		&:hover {

			span {

				&::after {
					width: 30px;
				}
			}
		}

		&.active {

			@include md {
				z-index: $ui-index-6;
			}

			span {
				background: transparent;
				transition-delay: 0.25s;
				transition-duration: 0.1s;

				&::before {
					top: 0;
					transform: rotateZ(-45deg);
					transition: top 0.25s, transform 0.25s 0.25s;
				}

				&::after {
					top: 0;
					width: 30px;
					transform: rotateZ(45deg);
					transition: top 0.4s, transform 0.25s 0.25s;
				}
			}
		}

		&--outside {
			position: absolute;
			top: 0;
			left: 90px;
			display: flex;
			width: 80px;
			height: 90px;
			background: transparent;
			border-radius: 0;

			@include to(1720px) {
				left: 0;
			}

			@include to(1550px) {
				display: none;
			}

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 80px;
				height: 230px;
				content: "";
				@include ui-gradient(0deg);

				@include to(1719px) {
					display: none;
				}
			}
		}

		span {
			position: relative;
			display: block;
			width: 30px;
			height: 4px;
			background-color: #fafafa;
			border-radius: 2px;
			transition-delay: 0.25s;
			transition-duration: 0.25s;
			pointer-events: none;

			&::before,
			&::after {
				position: absolute;
				left: 0;
				height: 4px;
				background-color: #fafafa;
				border-radius: 2px;
				content: "";
			}

			&::before {
				top: -10px;
				width: 30px;
				transition: transform 0.25s, top 0.25s 0.25s;
				transition-duration: 0.25s;
			}

			&::after {
				top: 10px;
				width: 4px;
				transition: width 0.25s, transform 0.25s, top 0.25s .25s;
				transition-duration: 0.25s;
			}
		}
	}

	&__link {
		display: block;
		width: fit-content;
		height: fit-content;

		@include to(1550px) {
			margin-left: 60px;
		}

		@include md {
			position: absolute;
			top: 40%;
			left: 50%;
			margin-left: 0;
			transform: translate(-50%, -50%);
		}

		@include xs {
			top: 50%;
		}

		img {
			@include xs {
				width: 80px;
			}
		}
	}

	&__desc {
		align-self: flex-start;
		width: 135px;
		margin-left: 95px;
		color: #3e3e3e;
		font-size: 17px;

		@include lg {
			display: none;
		}
	}

	&__tel {
		display: block;
		margin-left: auto;
		font-weight: 500;
		font-size: 25px;
		@include ui-link($accent);

		@include md {
			display: none;
		}
	}

	&__advice {
		display: flex;
		gap: 30px;
		align-items: center;
		min-width: 375px;
		margin-left: 135px;
		font-weight: 500;
		font-size: 18px;

		@include lg {
			margin-left: 75px;
		}

		@include md {
			gap: 20px;
			min-width: 230px;
			margin-left: auto;
			font-size: 14px;
		}

		@include sm {
			min-width: 70px;
		}

		span {

			@include sm {
				display: none;
			}
		}
	}
}

@keyframes headerShow {

	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0%);
	}
}
