.title {
	position: relative;
	max-width: 530px;
	margin-bottom: 20px;
	color: rgba(#242832, 0.9);
	line-height: 1;

	@include to(1720px) {
		padding-top: 15px;
	}

	&::before {
		position: absolute;
		top: 20px;
		left: -60px;
		width: 50px;
		height: 3px;
		content: "";
		@include ui-gradient(90deg);

		@include to(1720px) {
			top: 0;
			left: 0;
		}
	}
}
