@font-face {
	font-weight: 300;
	font-family: Ubuntu;
	font-style: normal;
	src:
		url(assets/fonts/ubuntu-light.woff2) format("woff2"),
		url(assets/fonts/ubuntu-light.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-weight: 400;
	font-family: Ubuntu;
	font-style: normal;
	src:
		url(assets/fonts/ubuntu.woff2) format("woff2"),
		url(assets/fonts/ubuntu.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-weight: 400;
	font-family: Ubuntu;
	font-style: italic;
	src:
		url(assets/fonts/ubuntu-italic.woff2) format("woff2"),
		url(assets/fonts/ubuntu-italic.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-weight: 500;
	font-family: Ubuntu;
	font-style: normal;
	src:
		url(assets/fonts/ubuntu-medium.woff2) format("woff2"),
		url(assets/fonts/ubuntu-medium.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-weight: 700;
	font-family: Ubuntu;
	font-style: normal;
	src:
		url(assets/fonts/ubuntu-bold.woff2) format("woff2"),
		url(assets/fonts/ubuntu-bold.woff) format("woff");
	font-display: swap;
}
